<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/stories" class="brand-logo center">StoryBooks</a>
            <ul class="left hide-on-small">
                <li><a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a></li>
            </ul>
            <!--right nav-->
            <ul class="right hide-on-small">
               <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>