<hr>
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-lighten-4">Storybook pet project</h5>
                <p class="grey-text text-lighten-3">Made using NodeJS, express, Handlebars, MongoDB, Passport.js and MaterializeCSS</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-lighten-4">Here's some links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/stories">All stories</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/earGO">My GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/earGO/storybook">Git Repo with this website</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text text-lighten-3">
            © 2019 MongoDB Solidify Pet Project
            <a class="grey-text text-lighten-3 right" href="#!">Main Portfolio</a>
        </div>
    </div>
</footer>