<hr>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-darken-4">Storybook pet project</h5>
                <p class="grey-text text-darken-3">Made using NodeJS, express, Handlebars, MongoDB, Passport.js and MaterializeCSS</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-darken-4">Links</h5>
                <ul>
                    <li><a class="grey-text text-darken-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-darken-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-darken-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-darken-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text text-darken-3">
            © 2019 Solidify Pet Project
            <a class="grey-text text-darken-3 right" href="#!">Main Portfolio</a>
        </div>
    </div>
</footer>