<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Ap-QLp5PevJIFfYVPPe3qC549yh64Wx5RhbNzihaXsM" />
    <title>Storybook app</title>
    <!--A Materialize-css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--An icons from FontAwesome.com-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--A local CSS-->
    <link rel='stylesheet' href='/css/styles.css'/>
</head>
<body>
<script>
    // Stuff from facebook to get their's auth to work'
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{your-app-id}',
            cookie     : true,
            xfbml      : true,
            version    : '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{{> _header }}
<main>
    <div class="container">

        {{{body}}}

    </div>
</main>

{{> footer }}


<!--jQuery for Materialize JS scripts-->
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<!--The Materialize JS script itself-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Local custom JS just in case-->
<script rel="script" src="script/main.js"></script>
</body>
</html>

