<h5>About this poject</h5>
<p>So this is my "solidify" project on basics on MongoDB and also some practice on NodeJS and Express.</p>
<p>Most likely it'll not let you in using facebook account. It's because i need an SSL on this domain, and I ain't got one (and propably never will)</p>
<p>Thinkin' on adding some "local registration" using email and password so someone could actualy tackle with functionality</p>
<p>Anyways, this thing uses MongoDB "database as a service" at mLab, and also builds automaticaly from GitHub repositpry (you can find a link in footer).</p>
<p>also used Materialize CSS framework, 'cause it's awesome ant it's in "material design" part.</p>