<h1>Welcome </h1>
<p>Welcome to storybooks 1.0.0</p>
<p>Post stories from the best and worst of your life and choose for them to be read by the world, or completely private as your own personal diary</p>
<a href="/auth/facebook" class="btn indigo darken-4"><i class="fa fa-facebook left"></i> Login using facebook</a>